.visible-sm {
    display: block !important
}

tr.visible-sm {
    display: table-row !important
}

th.visible-sm, td.visible-sm {
    display: table-cell !important
}

.visible-md {
    display: none !important
}

.visible-lg {
    display: none !important
}

.hidden-sm {
    display: none !important
}

.hidden-md {
    display: block !important
}

tr.hidden-md {
    display: table-row !important
}

th.hidden-md, td.hidden-md {
    display: table-cell !important
}

.hidden-lg {
    display: block !important
}

tr.hidden-lg {
    display: table-row !important
}

th.hidden-lg, td.hidden-lg {
    display: table-cell !important
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: none !important
    }

    .visible-md {
        display: block !important
    }

    tr.visible-md {
        display: table-row !important
    }

    th.visible-md, td.visible-md {
        display: table-cell !important
    }

    .visible-lg {
        display: none !important
    }

    .hidden-sm {
        display: block !important
    }

    tr.hidden-sm {
        display: table-row !important
    }

    th.hidden-sm, td.hidden-sm {
        display: table-cell !important
    }

    .hidden-md {
        display: none !important
    }

    .hidden-lg {
        display: block !important
    }

    tr.hidden-lg {
        display: table-row !important
    }

    th.hidden-lg, td.hidden-lg {
        display: table-cell !important
    }
}

@media (min-width:992px) {
    .visible-sm {
        display: none !important
    }

    .visible-md {
        display: none !important
    }

    .visible-lg {
        display: block !important
    }

    tr.visible-lg {
        display: table-row !important
    }

    th.visible-lg, td.visible-lg {
        display: table-cell !important
    }

    .hidden-sm {
        display: block !important
    }

    tr.hidden-sm {
        display: table-row !important
    }

    th.hidden-sm, td.hidden-sm {
        display: table-cell !important
    }

    .hidden-md {
        display: block !important
    }

    tr.hidden-md {
        display: table-row !important
    }

    th.hidden-md, td.hidden-md {
        display: table-cell !important
    }

    .hidden-lg {
        display: none !important
    }
}

section.content h1:first-child {
    margin-top: 50px;
}

hr {
    margin: 2px !important;
}

section.byline {
    padding-bottom: 5px;
    font-size: .8em;
    color: #999;
    text-transform: uppercase
}

ul.listing {
    padding: 0;
    margin: 0 0 25px 0
}

ul.listing li {
    padding: 7px 5px;
    list-style-type: none;
    border-bottom: 1px solid #EEE
}

ul.listing li span {
    float: right;
    padding-top: 3px;
    font-size: 12px;
    color: #999;
    text-transform: uppercase
}

tr.tablerow {
    text-align: center;
}

div.shortrow {
    padding-top: 5px;
    padding-bottom: 5px;
}

div#tocBlock {
    box-shadow: 5px 5px 5px #999;
    -moz-box-shadow: 5px 5px 5px #999;
    -webkit-box-shadow: 5px 5px 5px #999;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 10px;
    float: right;
    font-size: 12pt;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    background: white !important;
    border: solid 1px #999999;
    margin: 0 0 10px 15px
}

div#tocBlock .tocHeading {
    font-weight: bold;
    font-size: 75%
}

div#tocBlock #toc {
    background: #dfdfdf
}

div#tocBlock #toc ul {
    list-style: disc
}

div#tocBlock #toc ul li {
    margin-left: 5px !important;
    padding: 0 !important;
}

div#tocBlock #toc {
    background: white !important
}

div#tocBlock #toc li {
    margin-left: 1em !important;
    font-size: 12px;
}

@font-face {
    font-family: "hermit";
    src: url("../fonts/hermit/hermit.ttf") format("truetype");
}

@font-face {
    font-family: "roboto-light";
    src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

body {
    background-image: url(../../images/light_wool.png);
}




