@(stubs: Array[String])(implicit request: RequestHeader )

<script type="text/javascript">
    require(["dijit/registry", "dojox/layout/GridContainer", "dijit/TitlePane", "dojo/domReady!"],
            function (registry, GridContainer, TitlePane) {
                console.log("going dojo")
                // create a new GridContainer:
                var gridContainer = new GridContainer({
                    nbZones: 2,
                    style: {width: '100%', height: '100%'},
                    isAutoOrganized: true
                }, 'placeHere');

                @for(i <- stubs.indices) {
                    var chartName = '@stubs(i)'
                    var i = @i
                    var innerContent = '<div class="chart" id=' + chartName + '></div>'

                    var titlepane = new TitlePane({
                        title: 'Twitter Trends Graph For ' + chartName,
                        content: innerContent,
                        splitter: false
                    });

                    gridContainer.addChild(titlepane, i % 2, i / 2);
                }

                // startup GridContainer:
                gridContainer.startup();
                gridContainer.disableDnd(); // Disables DND
                gridContainer.resize()

                createChart()
                //createWebsocket()
            });
</script>