@* CSS *@
<link rel="stylesheet" media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("dojo/1.9.2/dijit/themes/claro/claro.css"))'>
<link rel="stylesheet" media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("dojo/1.9.2/dojox/widget/Portlet/Portlet.css"))'>
<link rel="stylesheet" media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("dojo/1.9.2/dojox/layout/resources/GridContainer.css"))'>

<link rel="stylesheet" media="screen" href="@controllers.twitter.routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@controllers.twitter.routes.Assets.at("images/favicon.png")">

@* JavaScripts *@
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("highcharts.js"))'></script>
<script>dojoConfig = {parseOnLoad: true}</script>
<script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("dojo/1.9.2/dojo/dojo.js"))'></script>


