@selfwrap {
<h1>Movies</h1>

<ul>
    <li>I love non-fiction. And even if they are fictional, I love movies that leave me feeling better about the world and myself - uplifting sort…</li>
    <li>The order below is completely random. By no means can I rank them.</li>
    <li>These are the movies that I dont mind watching again after every few years&hellip; (there are other movies like Batman that I have liked but I dont carry a strong urge to see them again)</li>
    <li>I do not have a liking for slapstick comedy or horror</li>
</ul>

<h3>English</h3>

<table class="table table-bordered table-striped table-condensed bs-docs-grid">
    <tr class="tablerow"">
    <td>The World's Fastest Indian</td>
    <td>Inside Job</td>
    <td>The Pursuit of Happyness</td>
    <td>Thirteen Days</td>
    <td>All the President's Men</td>
    <td>The Shawshank Redemption</td>
    <td>Hotel Rwanda</td>
    <td>Defiance</td>
    <td>Frost Nixon</td>
    <td>Invictus</td>
    <td>Margin Call</td>
    <td>Searching for Sugar Man</td>
    </tr>
    <tr class="tablerow">
        <td>The Terminal</td>
        <td>Last King of Scotland</td>
        <td>Argo</td>
        <td>Blood Diamond</td>
        <td>Charlie Wilson's War</td>
        <td>Saving Private Ryan</td>
        <td>Cast Away</td>
        <td>Lincoln</td>
        <td>Bruce Almighty</td>
        <td>Schindlers list</td>
        <td>Bridge on the River Kwai</td>
        <td>The Thin Red Line</td>
    </tr>
    <tr class="tablerow">
        <td>Letters from Iwo Jima</td>
        <td>Munich</td>
        <td>A Beautiful Mind</td>
        <td>Gladiator</td>
        <td>300</td>
        <td>Apocalypto</td>
        <td>The King's Speech</td>
        <td>Valkyrie</td>
    </tr>
</table>


<h3>Hindi</h3>

<h3>Kannada</h3>

}