@(url: String)(title: String)(content: String)(date: String)(subheading: String)(toc: Boolean)

@wrapper{

<section class="content">
    <script type="text/javascript">
        var pageTitle = "@title";
        var pageType = "post";
    </script>

    <h2>
        <a href="@url">@title</a>
    </h2>

    @{if(subheading.length != 0)
      <h4>@subheading</h4>
    }

    <section class="byline">@date</section>
    <hr>
    <table>
        <tr>
            <td>@common.twittershare()</td>
        </tr>
    </table>
    <hr>

    @{if(toc == true)
    <div id="entryBlock"></div>
    }

    @Html(content)

    <hr>

    @common.disqus()
    
</section>

}
