@import _root_.blog.BlogGlobal._
@(content: BlogPostContent)

@common.wrapper {
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-top: 24px;">
            <h2>@content.title</h2>
            @{
                if(content.subheading.nonEmpty && content.subheading.get.length != 0)
                    <h4>@subheading</h4>
            }
            <h6>@content.date</h6>
            <hr>
            @{
                if(content.toc.nonEmpty && content.toc.get)
                    <div id="entryBlock"></div>
            }
            @Html(content.content)
            </div>
        </div>
    </div>
}