@import _root_.blog.BlogGlobal._
@(indexContent: List[(String, BlogIndexContent)], total: Int)

@common.wrapper {
    <div class="container">
        <div class="row">
                <!-- Blog Entries Column -->
            <div class="col-md-12" style="padding-top: 24px;">
                @indexContent.map { case (file, item) =>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"><a href="blog/post/@file">@item.title</a></h5>
                            <p class="card-text">@Html(item.content)</p>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on @item.date
                        </div>
                    </div>
                }
                    <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item" id="lastpage_li">
                        <a class="page-link" id="lastpage_a">&larr; Newer</a>
                    </li>
                    <li class="page-item" id="nextpage_li">
                        <a class="page-link" id="nextpage_a">Older &rarr;</a>
                    </li>
                    <script>
                        let href = window.location.href;
                        if(href.includes("page")) {
                            let total = @total;
                            if(total === -1) {
                                document.getElementById("lastpage_li").classList.add("disabled")
                                document.getElementById("nextpage_li").classList.add("disabled")
                            } else {
                                let page = parseInt(href.substring(href.indexOf("/page/") + 6))
                                if((page + 1) * 5 >= total) {
                                    document.getElementById("nextpage_li").classList.add("disabled")
                                }
                                if(page === 1) {
                                    document.getElementById("nextpage_a").href = "/blog/page/2"
                                    document.getElementById("lastpage_a").href = "/blog"
                                } else {
                                    document.getElementById("nextpage_a").href = "/blog/page/" + (page + 1)
                                    document.getElementById("lastpage_a").href = "/blog/page/" + (page - 1)
                                }
                            }
                        } else {
                            document.getElementById("lastpage_li").classList.add("disabled")
                            document.getElementById("nextpage_a").href = "/blog/page/1"
                        }
                    </script>
                </ul>
            </div>
        </div>
    </div>
}

