@(titles: List[String])(fileList: Map[String, String])(dateMap: Map[String, String])(contentMap: Map[String, String])

@common.wrapper {
    <div class="container">
        <div class="row">
                <!-- Blog Entries Column -->
            <div class="col-md-12" style="padding-top: 24px;">
                @titles.map { name =>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"><a href="blog/post/@fileList(name)">@name</a></h5>
                            <p class="card-text">@Html(contentMap(name))</p>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on @dateMap(name)
                        </div>
                    </div>
                }
                    <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
            <!-- /.row -->

    </div>
        <!-- /.container -->

}

