@(searchUrl: String)

@content = {
    @* Content goes here *@

    <nav class="navbar navbar-default" role="navigation" style="min-height: 4em; margin-top: 0.5em">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="padding-top: 0.8em">Search</a>
        </div>
        <div class="navbar-collapse">
            <form action="#" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" id="sbutton" onkeypress="search">
                </div>
                <button type="submit" class="btn btn-default" onclick="process()">Submit</button>
            </form>
        </div>
    </nav>


    <script type="text/javascript">
        require ([ 'dojo/_base/declare', "dojo/request", "dojo/json", "dojo/domReady!" ],
            function ( declare, request, JSON ) {
                declare("BlogSearch", null, {

                    constructor: function(/*Object*/ args){
                        declare.safeMixin(this, args);
                    },

                    request: function(searchString) {
                        var searchUrl = '@searchUrl'
                        console.log ( "querying for search on url = " + searchUrl + " for string = " + searchString)

                        var fullSearchUrl = searchUrl + "/" + searchString + "/10/0"

                        request.get ( fullSearchUrl, {
                            // Parse data from JSON to a JavaScript object
                            handleAs : "json"
                        } ).then (
                            function ( data ) {
                                var jsonstring = JSON.stringify ( data )
                                //console.log("stringified json = " + jsonstring)
                                for(var i = 0; i < data.search.length; i++) {
                                    console.log("title = " + data.search[i].title + " score = " + data.search[i].score)
                                }
                            },
                            function ( error ) {
                                // Display the error returned
                                console.log ( "ajax for history failed with error = " + error ) ;
                            }
                        ) ;
                    }
                });
            }
        )

        function search(e) {
            if(e.keyCode === 13)
                process()

            return false;
        }

        function process() {
            var searchString = document.getElementById("sbutton").value
            console.log("search request for = " + searchString)
            var search = new BlogSearch({ });
            search.request(searchString);
        }
    </script>
}

    <html>
        <head>
            @common.meta()

            <title>Bharath's Blog</title>
            @common.cssjs()

            <script>dojoConfig = {parseOnLoad: true}</script>
            <script type="text/javascript" src='/webjars/dojo/1.9.2/dojo/dojo.js'></script>

        </head>
        <body>

            @common.forkongithub()
            @common.fbsdk()
            @common.googleanalytics()
            @common.topMostNav()

            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                    @content
                    </div>

                </div>
            </div>
        </body>
    </html>


