@(searchUrl: String)

@content = {
    @* Content goes here *@

    <nav class="navbar navbar-default" role="navigation" style="min-height: 4em; margin-top: 0.5em">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="padding-top: 0.8em">Search</a>
        </div>
        <div class="navbar-collapse">
            <form action="#" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" id="sbutton" onkeypress="search">
                </div>
                <button type="submit" class="btn btn-default" onclick="process()">Submit</button>
            </form>
        </div>
    </nav>

    <script type="text/javascript">
        require ([ 'dojo/_base/declare', "dojo/request", "dojo/json", "dojo/_base/lang",
        "dojo/dom-construct", "dojo/dom-attr", "dojo/domReady!" ],
            function ( declare, request, JSON, lang, domConstruct, domAttr ) {
                declare("BlogSearch", null, {

                    constructor: function(/*Object*/ args){
                        declare.safeMixin(this, args);
                    },

                    request: function(searchString) {
                        domConstruct.empty("results");

                        var searchUrl = '@searchUrl'
                        console.log ( "querying for search on url = " + searchUrl + " for string = " + searchString)

                        var fullSearchUrl = searchUrl + "/" + searchString + "/10/0"

                        request.get ( fullSearchUrl, {
                            // Parse data from JSON to a JavaScript object
                            handleAs : "json"
                        } ).then (
                          lang.hitch(this,
                            function ( data ) {
                                var jsonstring = JSON.stringify ( data )
                                // console.log("stringified json = " + jsonstring)
                                for(var i = 0; i < data.search.length; i++) {
                                  try {
                                    console.log("title = " + data.search[i].title + " score = " + data.search[i].score)
                                    this.addSection(data.search[i].title, data.search[i].date, data.search[i].url, data.search[i].fragments[0] )
                                  } catch(e) {
                                    console.log("exception = " + e)
                                  }
                                }
                            }
                          )
                        )
                    },

                    addSection: function(title, date, url, text) {
                      console.log("staring section add for title = " + title);
                      try {
                        var sectionContent = domConstruct.create("section");
                        domAttr.set(sectionContent, "class", "content");
                        dojo.place(sectionContent, dojo.byId("results"), "last");

                        var h4 = domConstruct.create("h4");
                        dojo.place(h4, sectionContent, "first");

                        var a = domConstruct.create("a", { innerHTML: title });
                        domAttr.set(a, "href", url);
                        dojo.place(a, h4, "only");

                        var sectionByline = domConstruct.create("section", { innerHTML: date });
                        domAttr.set(sectionByline, "class", "byline");
                        dojo.place(sectionByline, sectionContent, "last");

                        var hr = domConstruct.create("hr");
                        dojo.place(hr, sectionContent, "last")

                        var p = domConstruct.create("p", { innerHTML: text });
                        dojo.place(p, sectionContent, "last")

                        var hr = domConstruct.create("hr");
                        dojo.place(hr, sectionContent, "last")

                      } catch(e) {
                          console.log("exception = " + e)
                      }
                    }
                });
            }
        )

        function search(e) {
            if(e.keyCode === 13)
                process()

            return false;
        }

        function process() {
            var searchString = document.getElementById("sbutton").value
            console.log("search request for = " + searchString)
            var search = new BlogSearch({ });
            search.request(searchString);
        }
    </script>
}

    <html>
        <head>
            @common.meta()

            <title>Bharath's Blog</title>
            @common.cssjs()

            <script>dojoConfig = {parseOnLoad: true}</script>
            <script type="text/javascript" src='/webjars/dojo/1.9.2/dojo/dojo.js'></script>

        </head>
        <body>

            @common.forkongithub()
            @common.fbsdk()
            @common.googleanalytics()
            @common.topMostNav()

            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        @content
                        <div id="results">
                        </div>
                    </div>

                </div>
            </div>
        </body>
    </html>


