<link rel="shortcut icon" type="image/png" href='@controllers.configuration.routes.Assets.at("images/favicon.ico")'>
@* CSS *@
<link rel='stylesheet' media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
<link rel='stylesheet' media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/font-awesome.min.css"))'>

<link rel="stylesheet" media="screen" type='text/css' href='/blog/assets/javascripts/my/docs.css'>
<link rel="stylesheet" media="screen" type='text/css' href='/blog/assets/javascripts/my/common.css'>

<style type="text/css">
.glyphicon {
top : -3px ;
}

.chart {
width : 100% ;
height : 295px ;
}

.gridContainerTable {
border : none ;
}

.gridContainerZone >.dijitTitlePane {
margin : 1px !important ;
}

.starter-template {
padding : 40px 15px ;
text-align : center ;
}
</style>
@* JavaScripts *@
<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
<script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>

