<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" id="topmost"
     style="background-color: #483d8b; margin-bottom: 0px">
    <div class="container">
        <a class="navbar-brand" href="/">Bharadwaj</a>

        <div class="navbar-collapse collapse bs-navbar-collapse">
            <ul class="nav navbar-nav pull-right hidden-print">
                <li>
                    <a class="hidden-sm" title="Help" href="/configuration/help">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                    <a class="visible-sm">
                        About me
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Settings" href="/configuration/settings">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <a class="visible-sm">
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Logout" href="/configuration/logout">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                    <a class="visible-sm">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
