@(stubs: Array[String])( implicit request: RequestHeader )

<script type="text/javascript">
    function createChart(){
      @for(stub <- stubs) {
        var chartName = '@stub'

        console.log("creating chart = " + chartName)
        var charts = []
        var first = charts[ chartName ] = new Highcharts.Chart({
            chart: {
                renderTo: chartName,
                defaultSeriesType: 'spline'
            },
            title:{
                text:''
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                min: 0,
                labels: {},
                title:{
                    text:''
                }
            },
            series: [
                {
                    data: []
                }
            ]
        });

        var legend = first.legend;
        if(true) {
            legend.group.hide();
            legend.box.hide();
            legend.display = false;
        } else {
            legend.group.show();
            legend.box.show();
            legend.display = true;
        }
      }
    }
</script>