<script type="text/javascript" src="@routes.Assets.at("javascripts/jQuery/jquery-1.10.2.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/highcharts/highcharts.js")"></script>

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.9.2/dijit/themes/claro/claro.css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.9.2/dojox/widget/Portlet/Portlet.css">
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.9.2/dojox/layout/resources/GridContainer.css">
<script>dojoConfig = {parseOnLoad: true}</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/dojo/1.9.2/dojo/dojo.js"></script>

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

<script type="text/javascript" src="@routes.Assets.at("javascripts/my/twitterDashboard.js")"></script>