@(stubs: Array[String])(wsUrl: String)(implicit request: RequestHeader )

<script type="text/javascript">
    function createWebsocket(){
        var socket = new WebSocket("@wsUrl")
        socket.onmessage = function (event) {
            console.log("event data = " + event.data)
            var datapoint = jQuery.parseJSON(event.data);

            for(var i = 0; i < datapoint.values.length; i++) {
              var chart = charts[datapoint.values[i].stub]

              chart.series[ 0 ].addPoint({
                    x: datapoint.timestamp,
                    y: datapoint.values[i].tweets
              }, true, chart.series[ 0 ].data.length >= 50);
            }
        }
    }
</script>