@(query: String)(wsUrl: String)(implicit request: RequestHeader )

<script type="text/javascript">
    function createWebsocket(){
        var socket = new WebSocket("@wsUrl")
        socket.onmessage = function (event) {
            console.log("event data = " + event.data)
            var datapoint = jQuery.parseJSON(event.data);
            var chart = charts[ '@query' ]

            chart.series[ 0 ].addPoint({
                x: datapoint.counter.timestamp,
                y: datapoint.counter.tweets
            }, true, chart.series[ 0 ].data.length >= 50);
        }
    }
</script>