@(meta: Html)(topMostNav: Html)(content: Html)(footer: Html)

<html>
<head>
    @meta

    <title>Bharath's Blog</title>

    @common.cssjs()

    <script type="text/javascript">
        var pageType = "about";
    </script>

    </head>
    <body>
        @topMostNav

        <div class="navbar navbar-default">
          <ul class="nav navbar-nav" style="padding-left: 4em">
            <li><a class="navbar-link" href="/blog/about/work">Work</a></li>
            <li><a class="navbar-link" href="/blog/about/education">Education</a></li>
            <li><a class="navbar-link" href="/blog/about/philosophy">Philosophy</a></li>
            <li><a class="navbar-link" href="/blog/about/movies">Movies</a></li>
            <li><a class="navbar-link" href="/blog/about/books">Books</a></li>
            <li><a class="navbar-link" href="/blog/about/travel">Travel</a></li>
            <li><a class="navbar-link" href="/blog/about/quotes">Favorite Quotes</a></li>
            <li><a class="navbar-link" href="/blog/about/current">Current Affairs</a></li>
            <li><a class="navbar-link" href="/blog/about/slideshare">Slideshare</a></li>
          </ul>
        </div>

        <div class="container">
          @content
        </div>

        @footer
    </body>
</html>
