@selfwrap {
<h1>Movies</h1>

<ul>
    <li>I love non-fiction. And even if they are fictional, I love movies that leave me feeling better about the world and myself - uplifting sort…</li>
    <li>The order below is completely random. By no means can I rank them.</li>
    <li>These are the movies that I dont mind watching again after every few years&hellip; (there are other movies like Batman that I have liked but I dont carry a strong urge to see them again)</li>
    <li>I do not have a liking for slapstick comedy or horror</li>
</ul>

<h3>English</h3>

<div class="container">
<div class="row movierow">
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0416449/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/300.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0268978/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/a beautiful mind.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0074119/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/all the presidents men.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0472043/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/apocalypto.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt1024648/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/argo.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0450259/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/blood diamond.jpg"/>
        </a>
    </div>
</div>
<div class="row movierow">
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0315327/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/bruce almighty.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0162222/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/cast away.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0472062/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/charlie wilsons war.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt1034303/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/defiance.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0870111/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/frost nixon.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0083987/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/gandhi.jpg"/>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0172495/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/gladiator.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0395169/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/hotel rwanda.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt1645089/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/inside job.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt1057500/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/invictus.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0498380/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/letters from iwo jima.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0443272/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/lincoln.jpg"/>
        </a>
    </div>
</div>
<div class="row movierow">
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt1615147/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/margin call.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt1210166/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/moneyball.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0408306/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/munich.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0132477/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/october sky.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0120815/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/saving private ryan.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0108052/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/schindlers list.jpg"/>
        </a>
    </div>
</div>
<div class="row movierow">
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt2125608/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/searching for the sugarman.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0050212/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/the bridge on the river kwai.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt1504320/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/the kings speech.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0455590/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/the last king of scotland.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0454921/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/the pursuit of happiness.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0111161/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/the shawshank redemption.jpg"/>
        </a>
    </div>
</div>
<div class="row movierow">
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0362227/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/the terminal.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0120863/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/the thin red line.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0412080/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/the worlds fastest indian.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0146309/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/thirteen days.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt2083383/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/trouble with the curve.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0985699/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/valkyrie.jpg"/>
        </a>
    </div>
</div>
<div class="row movierow">
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0094291/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/wall street.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0393162/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/coach carter.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0109830/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/forrest gump.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0119217/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/goodwill hunting.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0112384/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/apollo_thirteen.jpg"/>
        </a>
    </div>
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0349825/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/miracle.jpg"/>
        </a>
    </div>
</div>
<div class="row movierow">
    <div class="col-md-2">
        <a class="movieimg" href="http://www.imdb.com/title/tt0210945/">
            <img class="movieimg" src="http://bharathwrites.in/images/films/remember the titans.jpg"/>
        </a>
    </div>
</div>
</div>


<h3>Hindi</h3>

<h3>Kannada</h3>

}