/* ----------------- Topology -----------------*/
.link {
    stroke: #000;
    stroke-opacity: .6;
}

div.thumbOuter {
    border: 1px solid #4682b4;
}

div.slideShowWrapper {
    border: 1px solid #4682b4;
}

div.alignCenter {
    text-align:center;
}