@(meta: Html)(topMostNav: Html)(content: Html)(footer: Html)(postpagescripts: Html)(social: Html)

<!DOCTYPE html>

<html>
    <head>
        @meta

        <title>Bharath's Blog</title>

        <link rel="shortcut icon" type="image/png" href="@controllers.blog.routes.Assets.at("images/favicon.png")">

        @* CSS *@
        <link rel='stylesheet' media="screen" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'>
        <link rel="stylesheet" media="screen" type='text/css' href="@controllers.blog.routes.Assets.at("javascripts/my/common.min.css")">
        <link rel="stylesheet" media="screen" type='text/css' href="@controllers.blog.routes.Assets.at("javascripts/bootstrap/css/docs.css")">

        <link rel='stylesheet' media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/font-awesome.min.css"))'>
        <link rel="stylesheet" media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("dojo/1.9.2/dijit/themes/claro/claro.css"))'>

        @* JavaScripts *@
        <script type="text/javascript" src="@controllers.blog.routes.Assets.at("javascripts/jquery.toc/js/jquery.tableofcontents.min.js")"></script>

        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("d3.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("jsplumb/1.5.5/jquery.jsPlumb-1.5.5-min.js"))'></script>

    </head>
    <body>
        @topMostNav

        <div class="container">
          <div class="row">

            <div class="col-md-10">
              @content
            </div>

            @* the sidebar *@
            <div class="col-md-2">
              <div class="bs-sidebar hidden-print affix" role="complementary">
                @social
              </div>
              <div class="bs-sidebar hidden-print affix" role="complementary">
                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=30&amp;appId=557536207641096" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:30px;" allowTransparency="true"></iframe>
              </div>
              <div class="bs-sidebar hidden-print affix" role="complementary">
                <a href="http://stackoverflow.com/users/915710/bharadwaj">
                  <img src="http://stackoverflow.com/users/flair/915710.png?theme=clean" width="208" height="58" alt="Bharadwaj at Stack Overflow" title="Bharadwaj at Stack Overflow">
                </a>
              </div>
              <div class="bs-sidebar hidden-print affix" role="complementary">
                <a href="http://info.flagcounter.com/t9un"><img src="http://s08.flagcounter.com/count/t9un/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_30/viewers_0/labels_0/pageviews_1/flags_0/" alt="Flag Counter" border="0"></a>
              </div>
            </div>
          </div>
        </div>

        @footer

        @postpagescripts
    </body>
</html>
