@(meta: Html)(topMostNav: Html)(content: Html)(footer: Html)(postpagescripts: Html)(social: Html)

<html>
    <head>
        @meta

        <title>Bharath's Blog</title>

        <link rel="shortcut icon" type="image/png" href='@controllers.blog.routes.Assets.at("images/favicon.ico")'>

        @* CSS *@
        <link rel='stylesheet' media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/font-awesome.min.css"))'>
        <link rel="stylesheet" media="screen" type='text/css' href='@routes.WebJarAssets.at(WebJarAssets.locate("dojo/1.9.2/dijit/themes/claro/claro.css"))'>

        <link rel="stylesheet" media="screen" type='text/css' href='@controllers.blog.routes.Assets.at("javascripts/my/common.min.css")'>
        <link rel="stylesheet" media="screen" type='text/css' href='@controllers.blog.routes.Assets.at("javascripts/my/docs.css")'>

        <!-- START COPYING HERE -->
        <link rel="stylesheet" type='text/css' href='@controllers.blog.routes.Assets.at("javascripts/forkribbon/gh-fork-ribbon.min.css")'>
        <!--[if lt IE 9]>
        <link rel="stylesheet" type='text/css' href='@controllers.blog.routes.Assets.at("javascripts/forkribbon/gh-fork-ribbon-ie.min.css")'>
        <![endif]-->
        <!-- END COPYING HERE -->

        @* JavaScripts *@
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type="text/javascript" src='@controllers.blog.routes.Assets.at("javascripts/jquery.toc/js/jquery.tableofcontents.min.js")'></script>

        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("d3.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("jsplumb/1.5.5/jquery.jsPlumb-1.5.5-min.js"))'></script>

        <script>dojoConfig = {parseOnLoad: true}</script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("dojo/1.9.2/dojo/dojo.js"))'></script>

        <script type="text/javascript">
            var pageType = "index";
        </script>
    </head>
    <body>

        @common.forkongithub()
        @common.fbsdk()
        @topMostNav

        <div class="container">
          <div class="row">

            <div class="col-md-10">
              @content
            </div>

            @* the sidebar *@
            <div class="col-md-2">
              <div class="bs-sidebar hidden-print affix" role="complementary">
                @social
              </div>
              <div class="bs-sidebar hidden-print affix" role="complementary">
                  <div class=fb-like data-send=false data-layout=standard data-width=450 data-show-faces=false data-colorscheme=light data-action=like></div>
              </div>
              <div class="bs-sidebar hidden-print affix" role="complementary">
                <a href="http://stackoverflow.com/users/915710/bharadwaj">
                  <img src="http://stackoverflow.com/users/flair/915710.png?theme=clean" width="208" height="58" alt="Bharadwaj at Stack Overflow" title="Bharadwaj at Stack Overflow">
                </a>
              </div>
              <div class="bs-sidebar hidden-print affix" role="complementary">
                <a href="http://info.flagcounter.com/t9un"><img src="http://s08.flagcounter.com/count/t9un/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_30/viewers_0/labels_0/pageviews_1/flags_0/" alt="Flag Counter" border="0"></a>
              </div>
            </div>
          </div>
        </div>

        @footer

        @postpagescripts
    </body>
</html>
