@(meta: Html)(topMostNav: Html)(content: Html)(footer: Html)(postpagescripts: Html)(social: Html)

<html>
    <head>
        @meta

        <title>Bharath's Blog</title>
        @common.cssjs()

        <script type="text/javascript">
            var pageType = "index";
        </script>
    </head>
    <body>

        @common.forkongithub()
        @common.fbsdk()
        @common.googleanalytics()
        @topMostNav

        <div class="container">
          <div class="row">

            <div class="col-md-10">
              @content
            </div>

            @* the sidebar *@
            <div class="col-md-2">
              <div class="bs-sidebar hidden-print affix" role="complementary">
                @social
              </div>
              <div class="bs-sidebar hidden-print affix" role="complementary">
                  <div class=fb-like data-send=false data-layout=standard data-width=100 data-show-faces=false data-colorscheme=light data-action=like></div>
              </div>
              <div class="bs-sidebar hidden-print affix" role="complementary">
                <a href="http://stackoverflow.com/users/915710/bharadwaj">
                  <img src="http://stackoverflow.com/users/flair/915710.png?theme=clean" width="208" height="58" alt="Bharadwaj at Stack Overflow" title="Bharadwaj at Stack Overflow">
                </a>
              </div>
              <div class="bs-sidebar hidden-print affix" role="complementary">
                <a href="http://info.flagcounter.com/t9un"><img src="http://s08.flagcounter.com/count/t9un/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_30/viewers_0/labels_0/pageviews_1/flags_0/" alt="Flag Counter" border="0"></a>
              </div>
            </div>
          </div>
        </div>

        @footer

        @postpagescripts
    </body>
</html>
