<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" id="topmost"
     style="background-color: #483d8b; margin-bottom: 0px">
    <div class="container">
        <a class="navbar-brand" href="/">Bharadwaj</a>

        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-collapse collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/blog/tags">Tags</a>
                </li>
                <li>
                    <a href="/blog/categories">Categories</a>
                </li>
                <li>
                    <a href="/blog/toc">Index</a>
                </li>
                <li>
                    <a href="/blog/search">Search</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right hidden-print">
                <li>
                    <a class="hidden-sm" title="About me" href="/blog/about/work">
                        <i class="fa fa-user"></i>
                    </a>
                    <a class="visible-sm">
                        About me
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Follow me" href="https://twitter.com/bharathtalks">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="visible-sm">
                        Follow me
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Projects" href="https://github.com/bharath12345">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="visible-sm">
                        GitHub Projects
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="CV" href="http://www.linkedin.com/in/bharadwajn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="visible-sm">
                        CV
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Facebook" href="https://www.facebook.com/bharadwajn">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="visible-sm">
                        Facebook
                    </a>
                </li>
                <!--li>
                    <a class="hidden-sm" title="Videos" href="http://www.slideshare.net/bharadwajn">
                        <img src="/assets/images/slideshare.png" height="20" width="20" align="top">
                    </a>
                    <a class="visible-sm" title="Videos" href="http://www.slideshare.net/bharadwajn">
                        <img src="/assets/images/slideshare.png" height="20" width="20" align="top">
                        Slideshare
                    </a>
                </li-->
                <li>
                    <a class="hidden-sm" title="Videos" href="http://www.youtube.com/user/bharadwajnarasimha">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                    <a class="visible-sm">
                        YouTube Videos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
