<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" id="topmost" style="background-color: #483d8b">
    <div class="container">
        <a class="navbar-brand" href="/">Bharadwaj</a>

        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-collapse collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/tags">Tags</a>
                </li>
                <li>
                    <a href="/categories">Categories</a>
                </li>
                <li>
                    <a href="/toc">Index</a>
                </li>
                <li>
                    <a href="/search">Search</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right hidden-print">
                <li>
                    <a class="hidden-sm" title="About me" href="/pages/about/work.html">
                        <i class="icon-user icon-fixed-width"></i>
                    </a>
                    <a class="visible-sm" title="About me" href="/pages/about/work.html">
                        <i class="icon-user icon-fixed-width"></i>
                        About me
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Follow me" href="https://twitter.com/bharathtalks">
                        <i class="icon-twitter icon-fixed-width"></i>
                    </a>
                    <a class="visible-sm" title="Atom Feed" href="https://twitter.com/bharathtalks">
                        <i class="icon-twitter icon-fixed-width"></i>
                        Follow me
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Projects" href="https://github.com/bharath12345">
                        <i class="icon-github icon-fixed-width"></i>
                    </a>
                    <a class="visible-sm" title="Projects" href="https://github.com/bharath12345">
                        <i class="icon-github icon-fixed-width"></i>
                        GitHub Projects
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="CV" href="http://www.linkedin.com/in/bharadwajn">
                        <i class="icon-linkedin icon-fixed-width"></i>
                    </a>
                    <a class="visible-sm" title="CV" href="http://www.linkedin.com/in/bharadwajn">
                        <i class="icon-linkedin icon-fixed-width"></i>
                        CV
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Facebook" href="https://www.facebook.com/bharadwajn">
                        <i class="icon-facebook icon-fixed-width"></i>
                    </a>
                    <a class="visible-sm" title="Facebook" href="https://www.facebook.com/bharadwajn">
                        <i class="icon-facebook icon-fixed-width"></i>
                        Facebook
                    </a>
                </li>
                <li>
                    <a class="hidden-sm" title="Videos" href="http://www.youtube.com/user/bharadwajnarasimha">
                        <i class="icon-youtube icon-fixed-width"></i>
                    </a>
                    <a class="visible-sm" title="Videos" href="http://www.youtube.com/user/bharadwajnarasimha">
                        <i class="icon-youtube icon-fixed-width"></i>
                        YouTube Videos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
