.chart {
    width : 100% ;
    height : 295px ;
}

.gridContainerTable {
    border : none ;
}

.gridContainerZone >.dijitTitlePane {
    margin : 1px !important ;
}

.starter-template {
    padding : 40px 15px ;
    text-align : center ;
}

.glyphicon {
    top : -3px ;
}
